<div class="jumbotron p-4 p-md-5 text-black rounded bg-light">
  <div id="page-content">
    <div class="container" id="home-container">
      <h1>How to Play Remote Bridge using BHG</h1>
    </div>
  </div>
</div>