<div class="jumbotron p-4 p-md-5 text-white rounded bg-dark">
  <h1 class="display-4 font-italic">Bridge Hands Generator</h1>
  <p class="lead">A utility for generating Bridge hands to facilitate remote play.</p>
  <hr class="my-4">
  <p class="lead my-5">Assign directions (North, South, East or West) to your bridge chums and then share a game code so they can retrieve their hands</p>
  <%= link_to 'Generate New Game', new_game_path %>
  <p>View Specific Game</p>

  <%= link_to 'Games listing', games_path %>
  <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
</div>
